* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    
}

img[src$=".jpg"] {
    border-radius: 4px;
}

a {
    color: inherit;
}